*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* container */
.container{
    margin: 20px;
}
/* end container */



/* row settings */
.row{
    margin-bottom: 60px;
}
.box {
    width: calc((100% - 20px) / 3 );
    float: left;
}

.centrale{
    margin: 0 10px;
}
/* end row settings */



/* box settings */
.box .img {
    width: 100%;
    position: relative;
}

.box img{
    width:100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* fine box settings */


/* hover settings*/
img.hover{
    display: none;
}

.img:hover img.hover{
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img:hover img.default{
    display: none;
}

.heart:hover {
    color: red;
    cursor: pointer;
}
/* fine hover settings */


/* heart */
.heart{
    background-color: white;
    position: absolute;
    top: 2%;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}
/* fine hearth */


/* property */
.property div{
    display: inline-block;
}

.property{
    position: absolute;
    bottom: 2%;
    left: 0;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.sconto{
    background-color: #d73b48;
    padding: 5px;
}

.sustainability{
    background-color: #3e8158;
    padding: 5px;
}
/* fine property */


/* info */
.marca{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.marca span{
    vertical-align: top;
    font-size: 10px;
}

.descrizione{
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.descrizione .initial{
    text-transform: none;
}

.prezzo{
    color: red;
    font-size: 20px;
}

.second-r .centrale .prezzo{
    color: initial;
}

.banner{
    background-color: #75ac51;
    padding: 20px 15px;
    line-height: 1.6;
    font-size: 20px;
}
/* fine info */